<ion-grid style="height: 100%"> 
  <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
    <div text-center> 
      <ion-icon *ngIf="!isReg" name="person" style="zoom:5.0;" color="medium"></ion-icon>
      <ion-icon *ngIf="isReg" name="ios-game-controller-b-outline" style="zoom:5.0;" color="medium"></ion-icon>
      <h4 *ngIf="!isReg">Registration</h4>
      <h4 *ngIf="isReg">Welcome {{ name }}!</h4>
      <p *ngIf="!isReg">Please tap <b>Register</b> button</p>
      <p *ngIf="isReg">Please tap <b>Play</b> button to start Play or New Game to restart</p>
      <button ion-button *ngIf="isReg" color="success" (click)="onNfc('play')">Play</button>
      <br>
      <ion-item *ngIf="!isReg">
        <ion-label  color="primary" fixed>Player Name</ion-label>
        <ion-input placeholder="Enter Name" [(ngModel)]="name"></ion-input>
      </ion-item>
      <br>
      <button ion-button *ngIf="!isReg" color="dark" (click)="onNfc('register')" [disabled]="disableButton">Register</button>
      <br>
      <button ion-button *ngIf="isReg" color="dark" (click)="newGame()">New Game</button>
      <br>
      <button ion-button *ngIf="isScan" class="square double-width" color="danger" (click)="cancelScan()"><b>Cancel Scan</b></button>
    </div>
 </ion-row> 
</ion-grid>